.testimonials-section {
  background-color: #12273d;
  height: 100vh;
  position: relative;
}
.dataFetching {
  background-color: white;
  position: relative;
  width: 80%;
  text-align: center;
  padding: 6rem 0;
  margin: auto;
}
.dataFetching p {
  padding: 0px 15rem;
  font-size: 2rem;
}
.dataFetching .signiture {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.dataFetching .signiture span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ccc;
}
.dataFetching .signiture img {
  position: absolute;
  right: -10%;
  bottom: -10%;
  max-width: 200px;
}
/* For Slider */
.slider {
  display: flex;
}
.dataFetching.none {
  display: none;
}
.dataFetching.visible {
  display: block;
}
/* For Pointers */
.pointers {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 40%;
}
.pointer {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: white;
  margin: 3rem;
}
.pointer.active {
  background-color: aqua;
}
.star {
  font-size: 4rem;
  fill: #ebd8b8;
  /* background: #fff600; */
  /* color: yellowgreen; */
}
/**************************/
/* BELOW 1220px (Tablets) */
/**************************/

@media (min-width: 59em) and (max-width: 70em) {
  .testimonials-section {
    height: 80vh;
  }

  .pointers {
    left: 35%;
    bottom: 5%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 44em) and (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .testimonials-section {
    height: 70vh;
  }

  .pointers {
    left: 35%;
    bottom: 5%;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 34em) and (max-width: 44em) {
  .dataFetching p {
    padding: 0rem;
    /* margin: 1rem; */
  }
  .dataFetching .signiture {
    flex-direction: column;
    gap: 0;
  }
  .pointers {
    left: 20%;
    bottom: 8%;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .dataFetching p {
    padding: 0rem;
    /* margin: 1rem; */
  }
  .dataFetching .signiture {
    flex-direction: column;
    gap: 0;
  }
  .pointers {
    left: 18%;
  }
}
