.Gallery {
  max-width: 100%;
  width: 110%;
  position: relative;
  margin-bottom: -6%;
}
.Gallery img {
  width: 50rem;
  height: 27rem;
}

.tesla-model {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 40%;
  color: white;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}
.tesla-model h2 {
  font-size: 2.4rem;
}
.tesla-model p {
  font-size: 1.6rem;
}
.tesla-model img {
  max-width: 100%;
}
.tesla-model button {
  background: none;
  outline: none;
  border-radius: 1rem;
  border-color: white;
  display: flex;
  align-items: center;
  right: 0;
}
.Gallery button:hover,
.Gallery button:active .Gallery a:hover,
.Gallery a:active {
  background-color: #741906;
}

/**************************/
/* Morw 1220px (Large Screen) */
/**************************/
@media (min-width: 1400px) {
  .Gallery img {
    width: 33%;
  }
}
/**************************/
/* BELOW 1220px (Tablets) */
/**************************/
@media (min-width: 59em) and (max-width: 90em) {
  .Gallery {
    margin-bottom: -7%;
  }
  .Gallery img {
    width: 50%;
  }
  .Gallery .large-screen {
    width: 100%;
  }
  .tesla-model {
    top: 42.5%;
    left: 35%;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 44em) and (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .Gallery {
    margin-bottom: -7%;
  }

  .tesla-model {
    top: 42.5%;
    left: 35%;
  }
  .Gallery img {
    width: 50%;
  }
  .Gallery .large-screen {
    width: 100%;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 34em) and (max-width: 44em) {
  .Gallery {
    margin-bottom: -7%;
  }

  .tesla-model {
    top: 40%;
    left: 20%;
  }
  .Gallery img {
    width: 100%;
  }

  .Gallery .species {
    display: none;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .Gallery {
    margin-bottom: -10%;
  }

  .tesla-model {
    top: 40%;
    left: 20%;
  }
  .Gallery img {
    width: 100%;
  }

  .Gallery .species {
    display: none;
  }
}
