.cars-cards {
  display: flex !important;
  flex-direction: column !important;
  text-align: center;
  margin-bottom: 10rem;
  height: 100vh;
}
.cars-cards .card {
  box-shadow: 10px 10px 8px #f4eded;
  padding: 2.4rem;
  width: 30rem !important;
  height: 60rem;
}
.card img {
  max-width: 100%;
}
.car-info h3 {
  font-size: 3.2rem;
  color: #741906;
}
.car-info p {
  font-size: 1.8rem;
}
.car-info .description {
  text-align: left;
  font-size: 1.4rem;
}
.cars-cards .category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
  /* display: block; */
  /* width: 50px; */
}
.left-description {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  height: fit-content;
}
.left-description .cat1,
.left-description .cat2 {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  font-size: 2rem;
  height: 5rem;
}
.right-description {
  font-size: 4.4rem;
  display: flex;
  align-items: center;
  /* gap: 1rem; */

}

.right-aligned {
  justify-content: right;
}

.right-description .plus,
.right-description .minus {
  background-color: #741906;
  border: none;
  color: white;
  /* width: 4.4rem; */
  /* height: 4.4rem; */
  font-size: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-description .plus {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}
.right-description .minus {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}
.swiper-pagination-bullet {
  border-radius: 50%;
  height: 4rem !important;
  width: 4rem !important;
  margin: 1rem !important;
  margin-bottom: 0rem !important;
  z-index: 5 !important;
}
.swiper-pagination-bullet-active {
  background-color: #741906 !important;
}
.pointers-icons {
  position: absolute;
  display: flex;
  top: 40%;
  background-color: #741906;
  font-size: 4.4rem;
  border-radius: 50%;
  padding: 1rem;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  z-index: 100;
}
.right {
  right: 5%;
}
.left {
  left: 5%;
}
.Amount {
  border: none;
  width: 15%;
  /* align-items: center; */
  /* justify-content: center;
   */
   text-align: center;

  /* font-size: 2rem; */
  /* color: #741906; */
}
/**************************/
/* Morw 1220px (Large Screen) */
/**************************/
@media (min-width: 1400px) {
}
/**************************/
/* BELOW 1220px (Tablets) */
/**************************/
@media (min-width: 59em) and (max-width: 90em) {
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 44em) and (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 34em) and (max-width: 44em) {
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .right {
    right: 5%;
    top: 50%;
  }
  .left {
    left: 5%;
    top: 50%;
  }
}
