.SideBar {
  position: absolute;
  position: fixed;
  /* position: sticky; */
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
  width: 375px;
  background-color: #101927;
  right: 0;
  top: 13%;
  display: flex;
  right: 0;
  z-index: 1000;
  padding: 5rem;
  display: none;
  flex-direction: column;
  scroll-behavior: smooth;
  /* opacity: 0.6; */
}
.SideBar .cart-busket {
  background-color: white;
  width: 332px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  padding: 2rem;
}
.SideBar .cart-busket .name-car {
  color: #741906;
  font-size: 1.8rem;
}
.SideBar .cart-busket p {
  font-size: 1.6rem;
}
.SideBar .cart-busket img {
  max-width: 100%;
  width: 13rem;
  height: 8rem;
}
.SideBar .right-description {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.SideBar .right-description .plus,
.SideBar .right-description .minus {
  background-color: #741906;
  border: none;
  color: white;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  cursor: pointer;
}
.SideBar .right-description .plus {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.SideBar .right-description .minus {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}
.delete-icon {
  font-size: 3rem;
  cursor: pointer;
}
.deleteAll {
  position: fixed;
  background-color: #741906;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 0.7rem;
  width: 60%;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  bottom: 1%;
  right: 7%;
  width: 18%;
}
.SideBar.hidden{
  display: flex;
}
@media (min-width: 110em) and (max-width: 210em) {
  .SideBar {
    height: 1000px;
  }
  .deleteAll {
    right: 5%;
    width: 15%;
    bottom: 1%;
  }
}
@media (min-width: 70em) and (max-width: 80em) {
  .SideBar {
    /* opacity: 0.5; */
    height: 700px;
  }
  .deleteAll {
    right: 5%;
    width: 30%;
    bottom: 1%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (min-width: 44em) and (max-width: 70em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  /* .SideBar {
    width: 40%;
    top: 15%;
    padding: 5rem;
    opacity: 1;
  }
  .SideBar .cart-busket {
    gap: 8rem;
    align-items: center;
    width: 90%;
  } */
  .SideBar {
    /* opacity: 0.5; */
    height: 500px;
  }
  .deleteAll {
    width: 30%;
    bottom: 12%;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (min-width: 34em) and (max-width: 44em) {
  /* .SideBar {
    width: 90%;
    top: 10%;
    padding: 5rem;
    opacity: 1;
  }
  .SideBar .cart-busket {
    gap: 8rem;
    align-items: center;
  } */
  .SideBar {
    top: 10%;
    height: 500px;
  }
  .deleteAll {
    right: 15%;
    width: 50%;
    bottom: 12%;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .SideBar {
    top: 11%;
    height: 500px;
  }
  .deleteAll {
    right: 20%;
    width: 60%;
    bottom: 12%;
  }
}
